<div class="main-container">
  <main aria-labelledby="formheadline">
    <form class="form" (ngSubmit)="onSubmit()" #form="ngForm">
      <h2 id="formheadline" class="options-headline">Passwort ändern</h2>
      <div class="form-row">
        <label class="form-label" for="old-password-input">
          Altes Passwort
        </label>
        <input [(ngModel)]="password_old" type="password" name="password" id="old-password-input" required class="form-input"
               placeholder="Altes Passwort" >
        <span id="old-password-error" class="error-text"></span>
        <pre>{{password_old}}</pre>
      </div>


      <div class="form-row">
        <label class="form-label" for="new-password-input">
          Neues Passwort
        </label>
        <input [(ngModel)]="password_new" type="password" name="password" id="new-password-input" placeholder="Neues Passwort"
               required class="form-input" minlength="3"
               maxlength="12" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{3,12}" >
        <pre>{{password_new}}</pre>
      </div>



      <div class="form-row">
        <label class="form-label" for="repeat-password-input">
          Passwort wiederholen
        </label>
        <input [(ngModel)]="password_wh" type="password" name="password" id="repeat-password-input" placeholder="Neues Passwort wiederholen"
               required class="form-input" minlength="3"
               maxlength="12"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{3,12}" (keyup)="checkIfEqualToNewPassword()" >

        <pre>{{password_wh}}</pre>
      </div>


      <div class="form-row form-row-center">
        <button id="save-changes-button" class="button button-submit" type="submit" [disabled]="! (form.form.valid && equalPasswords) ">
          Änderung speichern
        </button>
      </div>
    </form>



  </main>
</div>