<div class="main-container">
    <aside class="sidebar" aria-labelledby="serverinfoheadline">
        <div class="server-info-container">
            <h2 class="accessibility" id="serverinfoheadline">Serverstatus</h2>
            <dl class="server-data properties">
                <dt class="accessibility">Serverstatus:</dt>
                <dd class="server-status">Serverstatus:</dd>
                <dt>Benutzer</dt>
                <dd>
                    <span class="system-start-time">{{userName}}</span>
                </dd>
                <dt>Systemstartzeit</dt>
                <dd>
                    <span class="system-start-time">10:00</span>
                </dd>
                <dt>Systemstartdatum</dt>
                <dd>
                    <span class="system-start-datum">06.03.2017</span>
                </dd>
                <dt>Fehlgeschlagene Logins</dt>
                <dd>
                    <span class="failed-logins">3</span>
                </dd>
            </dl>
        </div>
    </aside>
    <main aria-labelledby="devicesheadline">
        <h2 class="main-headline" id="devicesheadline">Geräte</h2>

        <div class="devices">
            <div *ngFor="let device of devices" class="device-outer">
                <a [routerLink]="!isEditable(device.id) ? ['/device-details', device.id]: []" routerLinkActive="active" class="device" title="{{device.description}}" data-id={{device.id}}>
                    <dl class="device-properties">
                        <dt>Anzeigename</dt>
                        <dd class="device-displayname" *ngIf="!isEditable(device.id)">{{device.display_name}}</dd>
                        <input type="text" class="device-displayname" *ngIf="isEditable(device.id)" [(ngModel)]="device.display_name" />
                        <dt>Gerätetyp</dt>
                        <dd class="device-type">{{device.type}}</dd>
                        <dt>Gerätename</dt>
                        <dd class="device-name">{{device.type_name}}</dd>
                    </dl>
                    <div class="device-image-container">
                        <div class="device-image" height="180" width="180">
                        </div>
                    </div>
                </a>

                <ul class="device-actions">
                    <li *ngIf="isEditable(device.id)">
                        <a href="javascript:void(0)" (click)="onSaveName(device.id)"><img class="device-edit" src="../../images/ok.png" alt="save device"></a>
                    </li>
                    <li *ngIf="!isEditable(device.id)">
                        <a href="javascript:void(0)" (click)="onChangeName(device.id)"><img class="device-edit" src="../../images/edit.png" alt="edit device"></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img class="device-remove" src="../../images/remove.png" alt="remove device"></a>
                    </li>
                </ul>
            </div>

        </div>
    </main>
</div>